@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: muli, sans-serif;
}
.navbar {
  background-color: #13030300 !important;
  position: fixed;
  width: 100%;
  z-index: 1000000;
  top: 0;
}
.navbar-brand {
  font-size: 1.1rem !important;
  color: rgb(20, 19, 21) !important;
  font-family: "Sofia", sans-serif !important;
  text-shadow: 3px 3px 3px #ababab;
}

.navbar a {
  font-size: 1rem;
  text-transform: capitalize;
}

.navbar a:hover {
  color: #db8234 !important;
}
.navbar-colour {
  background-color: #e8edf1 !important;
  border: 0px solid #11a861;
}
.menu_active {
  font-weight: bold !important;
  border-bottom: 1px solid #565387 !important;
}

.active {
  font-weight: bold !important;
  border-bottom: 0.5px solid #565387 !important;
}
.nav-item {
  color: white;
}

.image-color {
  color: white;
  cursor: pointer;
  margin-left: 10px;
}
.brand-logo {
  border: 0px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 50px;
  max-width: 100%;
  height: auto;
}
