@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: muli, sans-serif;
}
.navbar {
  background-color: #13030300 !important;
  position: fixed;
  width: 100%;
  z-index: 1000000;
  top: 0;
}
.navbar-brand {
  font-size: 1.9rem !important;
  color: white !important;
}

.navbar a {
  font-size: 1rem;
  text-transform: capitalize;
}

.navbar a:hover {
  color: #db8234 !important;
}
.navbar-colour {
  background-color: #3498db !important;
  border: 1px solid #11a861;
}
.menu_active {
  font-weight: bold !important;
  border-bottom: 1px solid #565387 !important;
}

.active {
  font-weight: bold !important;
  border-bottom: 0.5px solid #565387 !important;
}
.nav-item {
  color: white;
}
