@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

.border-design {
  margin-top: 1.5rem !important;
  margin-bottom: 0.5rem !important;
  margin-left: 1rem !important;
  /* background-color: #3498db !important; */
  border: 1px solid #11a861;
  font-family: muli, sans-serif;
}

.insta-image-design {
  text-align: center;
  margin-top: 1ex;
  padding-left: 12px;
}

.fb-image-design {
  text-align: center;
  margin-top: 1ex;
  padding-left: 12px;
}

.flex {
  display: flex;
}
.flex div {
  flex: 1;
  margin: 5px; /* need some space ?*/
}
